*{
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 1300px;
  height: 100px;
  border: 1px solid;
  background-color: cadetblue;
}
.nav-btn{
  width: 200px;
  height: 40px;
  background-color: cornflowerblue;
  border-radius: 10px;
}

.home{
  width: 1300px;
  height: 200px;
  border: 1px solid;
  background-color: blueviolet;
}
.about{
  width: 1300px;
  height: 200px;
  border: 1px solid;
  background-color: green;
}
.servise{
  width: 1300px;
  height: 200px;
  border: 1px solid;
  background-color: burlywood;
}
.error{
  width: 1300px;
  height: 200px;
  border: 1px solid;
  background-color: rgb(255, 0, 43);
}
.add{
  width: 500px;
  height: 400px;
  border: 1px solid;
  background-color: blueviolet;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.add-inp{
  width: 350px;
  height: 50px;
  border-radius: 6px;
}
.add-inp2{
  width: 350px;
  height: 50px;
  border-radius: 6px;
}
.add-btn{
  width: 350px;
  height: 50px;
  border-radius: 6px;
  
}
.login{
  width: 500px;
  height: 400px;
  border: 1px solid;
  background-color: rgb(43, 192, 226);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.login-inp{
  width: 350px;
  height: 50px;
  border-radius: 6px;
}
.login-inp2{
  width: 350px;
  height: 50px;
  border-radius: 6px;
}
.login-btn{
  width: 350px;
  height: 50px;
  border-radius: 6px;
  
}

.products{
  width: 500px;
  height: 400px;
  border: 1px solid;
  background-color: rgb(43, 226, 89);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}


